sudo: false
language: php

mysql:
  adapter:  mysql2
  database: performan
  username: performan
  password: performan
  encoding: utf8

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.4
  
before_install:
  - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{,.disabled} || echo "xdebug not available"
  - echo "extension = redis.so" > ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - echo "extension = mysql.so" > ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini

install:
  - mv ./config/autoload/doctrine.local.php.dist ./config/autoload/doctrine.local.php
  - travis_retry composer -n --prefer-source install
  - ./vendor/bin/doctrine-module orm:schema-tool:update --force

script: ./vendor/bin/phpunit

jobs:
  include:
    - stage: Coverage
      before_script:
        - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{.disabled,}
        - if [[ ! $(php -m | grep -si xdebug) ]]; then echo "xdebug required for coverage"; exit 1; fi
      script:
        - ./vendor/bin/phpunit --coverage-clover clover.xml
      after_script:
        - wget https://scrutinizer-ci.com/ocular.phar
        - php ocular.phar code-coverage:upload --format=php-clover clover.xml

    - stage: Coding standard
      script:
        - ./vendor/bin/phpcs

    - stage: Lint
      script: vendor/bin/phpstan analyse --level=1 module
