<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">ANDRE HEBBEN</a>
            <div class="navbar-header page-scroll">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                   <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                        <li><a class="nav-link page-scroll" href="#profile">Profile</a></li>
                        <li><a class="nav-link page-scroll" href="#experience">Experience</a></li>
                        <li><a class="nav-link page-scroll" href="#abilities">Abilities</a></li>
                        <li><a class="nav-link page-scroll" href="#projects">Projects</a></li>
                        <li><a class="nav-link page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide" data-ride="carousel" >
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Hi, I'm Andre.<br>I develop <br>web applications</h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Learn more about what i do</a>
                    </p>
		        </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>
        </div>
    </div>
</div>

<section class="container services">
    <div class="row">
	<div class="col-sm-3">
            <h2 class="services-header">Web design</h2>
            <p class="services-p">My mission to make all my web designs as clean, minimalistic, responsive and user friendly as possible.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2 class="services-header">Back-end</h2>
            <p class="services-p">Using my 16 years of experience as a Zend Certified PHP Engineer, i implement backend solutions in a variety of PHP frameworks.
	    Nowadays mostly in Zend Framework 3/ Doctrine 2.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
	<div class="col-sm-3">
            <h2 class="services-header">Front-end</h2>
            <p class="services-p">As a full-time employed web developer I use a variety of front-end skills daily. Among these are: HTML5/ CSS3/ Bootstrap/Javascript/ Jquery / SASS / LESS / AngularJS. For the exact listing, please click the link below.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
	<div class="col-sm-3">
            <h2 class="services-header" >Server management & maintenance</h2>
            <p class="services-p">Cloud based solutions, scalability, webserver or database optimalization</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        
    </div>
</section>

<section  id="profile"  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <h2>About me</h2>
                <p>An all-round web developer with a good knowledge of back-end and front-end techniques. I listen closely to what the customer/end-user wants and needs
                    in order to provide the best solution. Meanwhile I care about my craft, and try to uphold to the best quality standards.</p>
                <q>Quality means doing it right when no one is looking</q> - Henry Ford
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/perspective.png" alt="dashboard" class="img-fluid">
        </div>
        <div class="col-md-3 wow fadeInRight">
            <div>
                <h2>Name</h2>
                <p>Andre Hebben</p>
            </div>
            <div class="m-t-lg">
                <h2>Age</h2>
                <p>39 Years</p>
            </div>
            <div class="m-t-lg">
                <h2>Location</h2>
                <p>Eindhoven<br>The Netherlands</p>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Experience</h1>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">

		   <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>ICT & Web Development at ARTEMIS Industry Association</h2>
                            <p></p>
                            <span class="vertical-date"> 2009-{{ "now"|date("Y") }}<br/> <small></small> </span>
                        </div>
                    </div>

		    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-certificate"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Certified Mysql Associate (CMA)</h2>
                            <p></p>
                            <span class="vertical-date"> 2008 <br/> <small></small> </span>
                        </div>
                    </div>


		    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-certificate"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Zend Certified PHP Engineer</h2>
                            <p></p>
                            <span class="vertical-date"> 2006 <br/> <small></small> </span>
                        </div>
                    </div>
                    

		     <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Software Developer at Senet B.V.</h2>
                            <p>Worked as a consultant for Senet B.V. for a variety of their customers. Most of the project involved implementing CMS solutions or developing websites in close relation with graphic art agencies.</p>
                            <span class="vertical-date"> 2005-2009 <br/> <small></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Junior Software Developer at Ovitech B.V.</h2>
                            <p>Implemented solutions for the public transportation systems (Bus & Train) in the Netherlands. Most projects involved implementing report generation tools in PHP such as rendering time tables or inspection reporting.</p>
                            <span class="vertical-date">2003-2005<br/> <small></small> </span>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-certificate"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Bachelor Computer Science / Informatics</h2>
                            <p>Fontys Hogescholen, Eindhoven. </p>
                            <span class="vertical-date">1998-2003<br/> <small></small> </span>
                        </div>
                    </div>

		    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fas fa-baby"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Born in Nijmegen</h2>
                            <span class="vertical-date">1980<br/> <small>24th of April</small> </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="abilities" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Abilities</h1>
                <p></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h2 class="navy">Skills</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                 <table class="table table-hover">
                     <tr class="d-flex">
                         <td class="col-md-6">Object Oriented Analysis &amp; Design</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span></td>
                     </tr>
                     <tr class="d-flex">
                         <td class="col-md-6">PHP (7.3)</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span></td>
                     </tr>
                     <tr class="d-flex"><td class="col-md-6">MySQL</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span></td>
                     </tr>
                     <tr class="d-flex">
                         <td class="col-md-6">Laminas/Zend Framework 3</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span></td>
                     </tr>
                     <tr class="d-flex">
                         <td class="col-md-6">Doctrine 2</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span></td>
                     </tr>
                     <tr class="d-flex">
                         <td class="col-md-6">Design Patterns</td>
                            <td class="col-md-6"><span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span></td>
                     </tr>
                     <tr class="d-flex">
                         <td class="col-md-6">HTML (5)</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star"></span></td>
                     </tr>
                     <tr class="d-flex"><td class="col-md-6">CSS (3)</td>
                         <td class="col-md-6"><span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star checked"></span>
                             <span class="fa fa-star"></span></td>
                     </tr>
                 </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">

                    <tr class="d-flex"><td class="col-md-6">Javascript</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">JQuery</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">Bootstrap (4.x)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>

                    <tr class="d-flex">
                        <td class="col-md-6">Unit Testing</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">AngularJs</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td></tr>
                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h2 class="navy">Languages</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-hover">
                    <tr class="d-flex">
                        <td class="col-md-6">Dutch (Mothertongue)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-md-6">English (Daily professional use)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span></td>
                    </tr>
                 </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <tr class="d-flex">
                        <td class="col-md-6">German (Survivable)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">French (Un petite peu)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">Spanish (un poco)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h2 class="navy">Tools</h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <table class="table table-hover">
                    <tr class="d-flex">
                        <td class="col-md-6">PHPStorm (5 years)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-md-6">Firefox (4 years)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-md-6">Git/Git flow (10 years)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </td>
                    </tr>
                    <tr class="d-flex">
                    <td class="col-md-6">Subversion (9 years)</td>
                    <td class="col-md-6"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <tr class="d-flex"><td class="col-md-6">Microsoft Office (16 years)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                    <tr class="d-flex"><td class="col-md-6">Adobe Photoshop (7 years)</td>
                        <td class="col-md-6"><span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="gray-section">
    <!-- ARTEMIS-IA -->
    <!-- ECS Collaboration Tool -->
    <!-- EFECS -->
</section>
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Me</h1>
                <p>Leave a message and i'll get back to you.</p>
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">Andre Hebben</span></strong><br/>
                    Fuchsiastraat 2<br/> 
		    5644LR<br/>
                    Eindhoven<br/>
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    <strong><span class="navy">Need some help? Or got an interesting project?</span></strong><br>Don't hesitate to contact me. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:contact@andrehebben.nl" class="btn btn-primary">Send me an mail</a>
                <p class="m-t-sm">
                    Or follow me on social & coding platforms
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="https://twitter.com/andrehebben"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/andrehebben/"><i class="fab fa-linkedin"></i></a>
                    </li>
              	          <li class="list-inline-item"><a href="https://github.com/andrehebben"><i class="fab fa-github"></i></a>
                   </li>              
		</ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy;  {{ "now"|date("Y") }} Andre Hebben</strong><br/> All rights reserved</p>
            </div>
        </div>
    </div>
</section>